extends layout

block content
  h1= title
  p Welcome to #{title}
  #mensajes(style="height:200px; overflow:auto;border:1px solid; black")
  #usuarios
  input#send(type="text")
  a#btn1.boton(title='Bot贸n con HTM5 y CSS3')
      | Bot贸n 1 
  a#btn2.boton(title='Bot贸n con HTM5 y CSS3')
      | Bot贸n 2	